#gameplay-area {
  text-align: center;
  margin: 2rem 0 5rem 0;
  display: none;
}

#game-end-article {
  max-width: 40rem;
  background-color: rgb(50, 5, 87);
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2);
  color: white;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  padding: 1rem 2rem;
  display: none;
}

#game-end-article h2 {
  margin: 0.5rem 0;
  font-size: 2.5rem;
}
#game-end-article p {
  margin: 0.5rem 0;
}

#active-player-name {
  font-weight: bold;
  color: rgb(50, 5, 87);
}

#game-zone-grid {
  list-style: none;
  width: 20rem;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: 6rem 6rem 6rem;
  gap: 0.5rem;
  margin: 1rem auto;
  padding: 0;
  justify-items: center;
}

#game-zone-grid li {
  width: 100%;
  height: 100%;
  background-color: rgb(215, 187, 247);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.game-grid li:hover {
  background-color: rgb(112, 13, 204);
}

#game-zone-grid li.disabled {
  cursor: default;
  background-color: rgb(112, 13, 204);
  color: white;
}
